
<div class="container">
  <h2 style="text-align: center;"><strong>Popcorn Sesh</strong> 🍿</h2>
  <div class="row">
    <% @movies.each do |movie| %>
      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= movie.title %></h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><%= movie.rating_imdb %></li>
          <li class="list-group-item"><%= movie.language %></li>
        </ul>
        <div class="card-body">
          <%= link_to "Movie details", movie_path(movie.id) %>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    <% end %>
  </div>
</div>
