<h1>Popcorn Sesh #test</h1>
<p>Uma aplicação web para criar sessões para assistir filmes simultaneamente com pessoas remotamente.</p>


<%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
